<footer class="pt-12 border-t border-gray-300">
  <div class="max-w-7xl mx-auto space-y-32 mb-32">
    <div class="grid grid-cols-3 gap-12">
      <div>
        <div class="mb-10">
          <img class="h-5" src="/images/meta.svg" alt="Logo de Meta" />
        </div>

        <div class="flex items-center gap-8">
          <a routerLink="#">
            <img
              alt="Facebook"
              class="x2e0w50 hover:saturate-[1000%]"
              decoding="auto"
              loading="lazy"
              src="https://scontent.fjau2-1.fna.fbcdn.net/v/t39.2365-6/425860105_925920989121941_6933048753023841367_n.svg?_nc_cat=110&amp;ccb=1-7&amp;_nc_sid=aa6a2f&amp;_nc_ohc=ymqG-COyPlMQ7kNvwEopnoo&amp;_nc_oc=Adm1tVFALXoghBeZVXt9HTJyzIF7ICdvacI1-S1mo0NFtAB7B8jfl_WfLJQZRES5kTRAIbv3qcQtOlozEooH8ABn&amp;_nc_zt=14&amp;_nc_ht=scontent.fjau2-1.fna&amp;_nc_gid=i3nxsiwaKB88lVzQOgFn_Q&amp;oh=00_AfR6gLzk5HZFWk4K3LU9KG99n06rYwH0YqBE_pjSfEYZUg&amp;oe=6870BCE2"
            />
          </a>

          <a routerLink="#">
            <img
              alt="X"
              class="x2e0w50 hover:saturate-[1000%]"
              decoding="auto"
              loading="lazy"
              src="https://scontent.fjau2-1.fna.fbcdn.net/v/t39.2365-6/426747931_385023204117867_5811151062540225287_n.svg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=aa6a2f&amp;_nc_ohc=90g1-UUVYbAQ7kNvwFlpy2c&amp;_nc_oc=AdmbRbIss6Q7atOhjTuolyG1pQMeg8OEReOGJqi_z55k29PRR2OsCjbuweTlBgPNXA2dQ58vfx1mkGzAXpfG4L7V&amp;_nc_zt=14&amp;_nc_ht=scontent.fjau2-1.fna&amp;_nc_gid=i3nxsiwaKB88lVzQOgFn_Q&amp;oh=00_AfTQikpgYHkuZdRCk1ZuXVwTcV0C_IDpZpXmDcFfkXfOtA&amp;oe=6870C56A"
            />
          </a>

          <a routerLink="#">
            <img
              alt="Instagram"
              class="x2e0w50 hover:saturate-[1000%]"
              decoding="auto"
              loading="lazy"
              src="https://scontent.fjau2-1.fna.fbcdn.net/v/t39.2365-6/425804778_757649995874129_6917476492193301523_n.svg?_nc_cat=108&amp;ccb=1-7&amp;_nc_sid=aa6a2f&amp;_nc_ohc=2gKLvhrcEYAQ7kNvwFlXD4l&amp;_nc_oc=AdnyAmPuUFefiEEjZ3hKPX0cI8VATNkIZmMRF3tP9zeklNa5M_80uYP6Ec_AeygiQH0DPDRsA6xj1FC-ZX0W3kiA&amp;_nc_zt=14&amp;_nc_ht=scontent.fjau2-1.fna&amp;_nc_gid=i3nxsiwaKB88lVzQOgFn_Q&amp;oh=00_AfSEKQbuk1twAYGlkN2b7exz55_6WYUcFty36eCnE38x5Q&amp;oe=6870DF38"
            />
          </a>

          <a routerLink="#">
            <img
              alt="YouTube"
              class="x2e0w50 hover:saturate-[1000%]"
              decoding="auto"
              loading="lazy"
              src="https://scontent.fjau2-1.fna.fbcdn.net/v/t39.2365-6/425519002_724756916408357_7491658959807896355_n.svg?_nc_cat=104&amp;ccb=1-7&amp;_nc_sid=aa6a2f&amp;_nc_ohc=eR5zevriksYQ7kNvwGfK-Yi&amp;_nc_oc=AdnKndohLgipYgtR-JeJCZqd5Y5EOyU4_rDId3iFlVWIo8ErIJjnRN7q-m_Gulxr8QCwbBY8OySUYo_oiekAp5Vs&amp;_nc_zt=14&amp;_nc_ht=scontent.fjau2-1.fna&amp;_nc_gid=i3nxsiwaKB88lVzQOgFn_Q&amp;oh=00_AfQhTYBOICSTpmgl-xOrjhsZ7piRAo-4YFdx4EWPJbpfoA&amp;oe=6870C01F"
          /></a>
        </div>
      </div>

      <div class="col-span-2">
        <div class="grid grid-cols-3 gap-12 text-sm">
          <div class="space-y-8 text-gray-600">
            <ul class="space-y-1">
              <li class="font-medium text-gray-900">
                Politicas y condiciones del sitio
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Normas comunitarias</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Política de privacidad</a
                >
              </li>
              <li><a routerLink="#" class="hover:underline">Condiciones</a></li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Política de cookies</a
                >
              </li>
            </ul>
            <ul class="space-y-1">
              <li class="font-medium text-gray-900">Realidad virtual</li>
              <li>
                <a routerLink="#" class="hover:underline">Comprar Meta Quest</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Meta Quest 2 reacondicionadas</a
                >
              </li>
              <li><a routerLink="#" class="hover:underline">VR for Good</a></li>
              <li><a routerLink="#" class="hover:underline">Foros</a></li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Recomienda Meta Quest 2</a
                >
              </li>
              <li><a routerLink="#" class="hover:underline">Blog</a></li>
              <li><a routerLink="#" class="hover:underline">Creadores</a></li>
              <li>
                <a routerLink="#" class="hover:underline">Descargar SDK</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Desarrolladores</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Programa de socios "Made for Meta"</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Información sobre seguridad apra padres y preadolescentes</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Información sobre salud y seguridad de Meta Quest</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Centro de seguridad de Meta Quest</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Meta for Work</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Avatares de meta</a>
              </li>
            </ul>
          </div>

          <div class="space-y-8 text-gray-600">
            <ul class="space-y-1">
              <li class="font-medium text-gray-900">Gafas inteligentes</li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Comprar gafas inteligentes Ray-Ban Meta</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Ray-Ban Stories</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Información de privacidad</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Países en los que está disponible</a
                >
              </li>
            </ul>
            <ul class="space-y-1">
              <li class="font-medium text-gray-900">
                Asistencia de la tienda e información Legal
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Estado del pedido</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Servicio de ayuda a nuestra tienda</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Devoluciones</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Encuentra una demostración de producto</a
                >
              </li>
              <li><a routerLink="#" class="hover:underline">Legal</a></li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Condiciones de venta</a
                >
              </li>
            </ul>
            <ul class="space-y-1">
              <li class="font-medium text-gray-900">Nuestras iniciativas</li>
              <li>
                <a routerLink="#" class="hover:underline">Datos y privacidad</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Seguridad y libertad de expresión</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Prácticas de negocio responsables</a
                >
              </li>
              <li><a routerLink="#" class="hover:underline">Elecciones</a></li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Respuesta ante el COVID-19</a
                >
              </li>
              <li><a routerLink="#" class="hover:underline">Reglamentos</a></li>
            </ul>
          </div>

          <div class="space-y-8 text-gray-600">
            <ul class="space-y-1">
              <li class="font-medium text-gray-900">Información</li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Información sobre Meta</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Galería multimedia</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Recursos de marca</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Para inversores</a>
              </li>
            </ul>
            <ul class="space-y-1">
              <li class="font-medium text-gray-900">Nuestra comunidad</li>
              <li>
                <a routerLink="#" class="hover:underline">Apoyo a pymes</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Giving Together</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Impacto social</a>
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Crecimiento empresarial y de las comunidades</a
                >
              </li>
            </ul>
            <ul class="space-y-1">
              <li class="font-medium text-gray-900">
                Asistencia para aplicaciones
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Servicio de ayuda de Facebook</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Servicio de ayuda de Messenger</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Servicio de ayuda de Instagram</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Servicio de ayuda de WhatsApp</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline"
                  >Servicio de ayuda de Workplace</a
                >
              </li>
              <li>
                <a routerLink="#" class="hover:underline">Meta Verified</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-12 text-gray-600">
      <div>España (Español)</div>

      <div class="col-span-2 space-y-4 text-xs">
        <p class="uppercase">Meta Quest</p>

        <p>
          Meta Quest: *Padres:* consulta pautas y advertencias sobre seguridad
          relacionadas con el uso del producto por parte de menores aquí. Los
          menores a partir de 10 años que usen dispositivos Meta Quest 2 y 3
          deberán disponer de una cuenta de Meta. El resto de las gafas Meta
          Quest están destinados a usuarios mayores de 13 años. Algunos juegos,
          aplicaciones y experiencias podrían ser adecuados solo para audiencias
          de mayor edad. AVISO SOBRE CARACTERÍSTICAS, FUNCIONES Y CONTENIDO DE
          META QUEST: Las características, las funciones y el contenido están
          sujetos a cambios o retiradas en cualquier momento y es posible que no
          estén disponibles en todas las regiones o idiomas, que presenten
          restricciones o que requieran la activación de software o servicios.
          Asimismo, se pueden aplicar términos, condiciones o cargos
          adicionales.
        </p>

        <p>
          Determinadas aplicaciones y experiencias estarán disponibles a partir
          del invierno de 2023.
        </p>

        <p>
          AVISO IMPORTANTE SOBRE SEGURIDAD DE META QUEST
          <a
            routerLink="#"
            class="text-[#2b6dc4] underline hover:text-[#417dcc]"
            >https://www.oculus.com/quest-2/removable-facial-interface-alert</a
          >.
        </p>

        <p>
          Opciones de financiación. Puede que se te ofrezcan opciones de
          financiación para tus compras de Meta. Obtén más información aquí.
        </p>

        <p>
          * Según el rendimiento gráfico de Qualcomm Snapdragon XR2 Gen 2
          comparado con el de XR2 Gen 1 en Meta Quest 2.
        </p>

        <p>
          ††Consulta las pautas de seguridad para menores en
          <a
            routerLink="#"
            class="text-[#2b6dc4] underline hover:text-[#417dcc]"
            >https://www.meta.com/quest/parent-info</a
          >. Cuentas de Meta para personas a partir de 10 años. Oferta válida
          entre el 02/10/2023 y el 11/11/2023 (15:59 PST) únicamente en países
          de Europa en los que se vendan los dispositivos Meta Quest 2. Oferta
          válida por la compra de un dispositivo Meta Quest 2 (128 GB o 256 GB)
          en stock (“Producto apto”) solo a través de
          <a
            routerLink="#"
            class="text-[#2b6dc4] underline hover:text-[#417dcc]"
            >https://www.meta.com</a
          >
          y hasta agotar existencias. Límite de tres (3) Productos aptos por
          transacción. No se puede combinar con otros descuentos, paquetes,
          cupones u ofertas. Es necesario tener una cuenta de Meta (“Cuenta”) y
          su propietario debe tener 13 años o más. Artículos de la oferta:
          correa Elite para Meta Quest 2, estuche, correa Elite con batería,
          paquete dinámico o kit de accesorios. Límite de un (1) Artículo de la
          oferta por cada Producto apto, independientemente del número de
          Cuentas vinculadas a dicho Producto apto. No hay códigos de canje en
          relación con esta Oferta. Para beneficiarte de ella, añade un Producto
          apto y el Artículo de la oferta al carrito. El precio se actualizará
          automáticamente al finalizar la compra si esta cumple los requisitos.
          La oferta no es válida para pedidos ni compras anteriores. La Oferta
          no se puede transferir y no se podrá cambiar por dinero en efectivo ni
          equivalente. La Oferta se podrá cancelar o modificar en cualquier
          momento y sin previo aviso. El software se vende por separado.
          Consulta los términos y condiciones completos de la oferta promocional
          de Meta Quest Store.
        </p>

        <p>RAY-BAN | GAFAS INTELIGENTES DE META</p>

        <p>
          Para usar las gafas inteligentes Ray-Ban Meta se necesita un teléfono
          móvil con sistema operativo Android (los servicios de ubicación deben
          estar activados) o iOS y acceso inalámbrico a internet. También es
          necesario haber registrado una cuenta. Este producto no es compatible
          con todos los smartphones y solo está disponible en determinados
          países. Sus funciones, la funcionalidad y el contenido pueden sufrir
          cambios o retirarse en cualquier momento. Visita
          <a
            routerLink="#"
            class="text-[#2b6dc4] underline hover:text-[#417dcc]"
            >https://www.meta.com/smart-glasses/#faq</a
          >
          para obtener la información más actualizada. Para mayores de 13 años.
          Este producto podría interferir con dispositivos médicos personales.
          El producto deberá instalar actualizaciones de vez en cuando, incluso
          antes de su primer uso. Al usar las gafas inteligentes Ray-Ban Meta,
          el usuario es el único responsable de cumplir las legislación y
          normativas locales, en especial las relativas a la privacidad y al uso
          de dispositivos de grabación. Es posible que tengas que registrar
          otras cuentas, y podrían aplicarse condiciones y cargos adicionales.
        </p>

        <p>
          Información de contacto: Meta Platforms Technologies Ireland Limited,
          Merrion Road, Dublin 4, D04 X2K5, Irlanda
        </p>

        <p>©2023 Meta.</p>
      </div>
    </div>
  </div>
</footer>
